.paragraph--Payment_Banner_children {
  margin: 0 !important;
  height: 100% !important;
  vertical-align: middle;
  display: flex;
  align-items: center;
  white-space: nowrap;
  width: fit-content !important;
}

.wrapper--Payment_Banner_children {
  height: 100% !important;
}
